*{
  margin: 0;
  padding: 0;
  user-select: none;
  box-sizing: border-box;
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif
  
}
html{
  scroll-behavior: smooth;
}
body {
margin: 0;
padding: 0;
position: relative;
background:linear-gradient(rgba(8, 241, 39, 0.7),rgba(70, 70, 68, 0.7),rgba(92, 230, 37, 0.7));

}
.navbar{
    height:13vh;
    width:100%;
    
}
nav{
  position: fixed;
  width: 100%;
  z-index:1;
}
nav ul{
  overflow:hidden;
  transition:1s;
  width: 100%;
  
}
.navbar h1{
  text-align: center;
  font-size: 9vh;
  margin-top: 4vh;
  font-weight: bolder;
  width:22vw;
  height:14vh;
  margin-left:1vw;
  border-radius: 45%;
  border-bottom: 16px solid rgb(22, 22, 22);
  background:linear-gradient(rgba(184, 247, 148, 0.7),rgba(70, 70, 68, 0.7));
}
.navbar h1 a{
  text-decoration: none;
  color: rgb(22, 22, 21);
}
.navbar ul{
    height: 13vh;
    width: 78vw;
    list-style: none;
    padding:5vh 0vw;
    position: relative;
    float:right;
    margin-top: -15vh;
   
}
nav.black ul{
  background-color: rgb(176, 238, 190);
  width:100%;
  color:white;
  margin-top:-19.5vh;
  border-bottom:7px solid black;
  padding:4vh 10vw;
  border-radius: 18px;
}
.home a{
  margin-left: 5vw;
  margin-top: 1vh;
}
.loan a{
margin-left: 2.5vw;
margin-top: 1vh;
}
.about{
margin-left: -2vw;
}
.transact{
margin-left: -4vw;
}
.viewcustomers a{
  margin-left:0.6vw;
}
.navbar ul li{
    display: inline-block;
    height: 5.5vh;
    width: 13vw;
    
}

.navbar ul li a{
  color: rgb(19, 18, 18);
  text-decoration: none;
  font-size: 2.6vh;
  padding:1vh 1vw;
  position: relative;
  margin-top: 2vh;
 
  
}
.navbar ul li a:hover{
  box-shadow: 2px 2px 5px 3px rgb(17, 17, 17);
}
.banner{
width:100%;
height:100vh;
position: relative;
overflow:hidden;

}
.slider{
width:100%;
height:100%;
position: absolute;

top:0;
}
#slideimg{
width:100%;
height:100%;
animation: zoom 3s linear infinite;
}
@keyframes zoom{
0%{
  transform:scale(1.3);
}
15%{
  transform:scale(1);
}
85%{
  transform:scale(1);
}
100%{
  transform:scale(1.3);
}
}
.overlay{
width:100%;
height:100%;
background:linear-gradient(rgba(184, 247, 148, 0.7),rgba(70, 70, 68, 0.7));
position:absolute;
top:0;

}
.overlay h2{
text-align: center;
margin-top:5vh;
font-size: 10vh;
font-weight: bold;

}
.overlay p{
text-align: center;
margin-top:5vh;
margin-bottom: 10vh;
font-size: 10vh;
font-family: 'Dancing Script', cursive;
font-weight: bold;

}
.tn{
border:2px solid black;
padding:2vh 4vw;
color: black;
margin-left: 40vw;
border-radius: 2px;
text-decoration: none;
}
.tn:hover{
border-radius: 10px;
color:white;
background-color: rgb(19, 18, 18);
}
.container{
width: 100%;

font-size: 3.5vh;

}
.container1{
font-size: 3vh;
}
.container h3{
text-align: center;
font-size: 7vh;
margin-top: 3vh;
margin-bottom: 5vh;
position: relative;

}
.text-block {
position: absolute;
margin-top: -15vh;
background-color: black;
color: rgb(235, 225, 225);
padding:1vh 3.8vw;
text-align: center;
width: 27vw;

margin-left: 4.5vw;

}
.text-block1{
position: absolute;
margin-top: -15vh;
background-color: black;
color: rgb(235, 225, 225);
padding:1vh 3.8vw;
text-align: center;
width: 27.1vw;
margin-left: 36.3vw;

}
.text-block2{
position: absolute;
margin-top: -15vh;
background-color: black;
color: rgb(235, 225, 225);
padding:1vh 3.8vw;
text-align: center;
width: 27.1vw;
margin-left: 68.2vw;
}

.parallax2{
background: url('images/fullbank11.jpg') no-repeat center;
background-size:cover;
background-attachment: fixed;
height:100%;
width:100%;
border:0.2px solid rgb(10, 10, 10);
}


.features img{
height:40vh;
width:27vw;
margin-left: 4.5vw;
margin-bottom: 4vw;
border:14px solid white;
box-shadow: 2px 4px 8px black;

}
.loans{
margin-top: 6vh;

}
.loans img{
height:40vh;
width:27vw;
margin-left: 4.5vw;
margin-bottom: 4vw;
border:14px solid white;
box-shadow: 2px 4px 8px black;

}
.card{
width:50vw;
height:30vh;
text-align: center;
margin-left: 24.5vw;
font-size: 2.5vh;
}

.aboutus h3{
font-size: 4vh;
}
.aboutus h2{
text-align: center;
}
.footer{
width:100%;
height: 25vh;
margin-top: 65vh;
color:white;
background-color: black;
}
.footer h1{
color:white;
font-size: 3vh;
margin-left: 3.5vh;
}
.separate h1{
  margin-left: 2vh;
}
.footer p{ 
padding:1vh 1vw;
}
.footer i{
width:4vw;
padding:0.5vh 1vw;
font-size: 3vh;
}
.footer ul{
  display: inline-flex;
  list-style: none;
}
.footer ul li{
  padding:1vh 8vw;
}
.lastbar ul{
  display: inline-flex;
  list-style: none;
}
.lastbar ul li{
  padding:2vh 7vw;
}